<div class="jumbotron">
  <h1 class="display-3">ZONA PRIVADA!!</h1>
  <p class="lead">Esta es una prueba de que te quiero y que mi unica intension es darte ratos buenos llevandote a la luna y hacerte venir caminandito</p><hr class="my-4">
    <p>Espero que en algun momento se termine esto de estar tan lejos el uno del otro y podamos 
      estar mas cerquita, careshinshema </p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>